<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   

    <%= render 'layouts/messages' %>
    <%= link_to 'Articles listing', articles_path(@article) %> |
    <%= link_to 'About page', about_path %> |
    <%= link_to 'Users page', users_path %> |

    <% if logged_in? %>
      <%= link_to 'Log out', logout_path, method: :delete %> |
      <%= link_to current_user.username, user_path(current_user) %> |
    <% else %>
      <%= link_to 'Log in', login_path %> |
      <%= link_to 'Sign up', signup_path %> |
    <% end %>


    <%= yield %>

  </body>
</html>
